In [387]:
import pandas as pd
pd.options.display.max_columns = 50

In [388]:
Y = 'FE'
remove_fields = ['HD','PH','FE','TKW','KNS']
remove_fields.remove(Y)
remove_fields

['HD', 'PH', 'TKW', 'KNS']

In [389]:
path_pheno = 'data/pheno_2.csv'
path_geno = 'data/snps.csv'

In [390]:
df_geno = pd.read_csv(path_geno)
print(len(df_geno.index))
df_geno.head(2)

8025

,probeset_id,Flank,consensus,Ref Seq v1.0,Allele_A,Allele_B,55 CL 2,ACA 201,ACA 202,ACA 223,ACA 320,ACA 801,ACA 901,ACA 903 B,ACA 906,ACA 907,BAGUETTE 10,BAGUETTE 17,BAGUETTE 18,BAGUETTE 19,BAGUETTE 21,BAGUETTE 30,BAGUETTE 31,BAGUETTE 9,BAGUETTE PREMIUM 11,...,KLEIN LEÓN,KLEIN NUTRIA,KLEIN PANTERA,KLEIN PROTEO,KLEIN RAYO,KLEIN RENDIDOR,KLEIN TAURO,KLEIN TIGRE,KLEIN YARARÁ,KLEIN ZORRO,LE 2330,LE 2331,LE 2333,LE 2341,MARCOS JUÁREZ INTA,OLAETA ARTILLERO,PROINTA ELITE,PROINTA GAUCHO,PROINTA GRANAR,PROINTA GUAZÚ,PROINTA ISLA VERDE,PROINTA OASIS,SIRIRÍ,SINVALOCHO MA,SRM NOGAL
0,AX-94422082,GAAACATCCTTCCCTGATCAATCATAAAACATCAG[G/T]TTGGTT...,1A,1145919,T,G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,-,T/T,G/G,T/T,-,T/T,G/G,G/G,T/T,T/T,...,-,G/G,T/T,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,-,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G
1,AX-94598030,AGTGATGCTGGACGCAGCGAGATCGAAGAGCAGGC[A/G]GAAGCT...,1A,1159571,A,G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,A/A,A/A,G/G,A/A,A/A,A/A,G/G,G/G,A/A,A/A,...,A/A,G/G,A/A,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,A/A,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G

In [391]:
df_geno.drop(columns={'Flank','consensus','Ref Seq v1.0','Allele_A','Allele_B'}, inplace=True)

In [392]:
df_geno.head(3)

,probeset_id,55 CL 2,ACA 201,ACA 202,ACA 223,ACA 320,ACA 801,ACA 901,ACA 903 B,ACA 906,ACA 907,BAGUETTE 10,BAGUETTE 17,BAGUETTE 18,BAGUETTE 19,BAGUETTE 21,BAGUETTE 30,BAGUETTE 31,BAGUETTE 9,BAGUETTE PREMIUM 11,BARLETA 77,BIOINTA 1000,BIOINTA 1001,BIOINTA 1002,BIOINTA 1003,...,KLEIN LEÓN,KLEIN NUTRIA,KLEIN PANTERA,KLEIN PROTEO,KLEIN RAYO,KLEIN RENDIDOR,KLEIN TAURO,KLEIN TIGRE,KLEIN YARARÁ,KLEIN ZORRO,LE 2330,LE 2331,LE 2333,LE 2341,MARCOS JUÁREZ INTA,OLAETA ARTILLERO,PROINTA ELITE,PROINTA GAUCHO,PROINTA GRANAR,PROINTA GUAZÚ,PROINTA ISLA VERDE,PROINTA OASIS,SIRIRÍ,SINVALOCHO MA,SRM NOGAL
0,AX-94422082,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,-,T/T,G/G,T/T,-,T/T,G/G,G/G,T/T,T/T,G/G,G/G,G/G,T/T,G/G,...,-,G/G,T/T,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,-,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G
1,AX-94598030,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,A/A,A/A,G/G,A/A,A/A,A/A,G/G,G/G,A/A,A/A,G/G,G/G,G/G,A/A,G/G,...,A/A,G/G,A/A,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,A/A,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G,G/G
2,AX-94669331,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/C,C/C,T/T,C/C,C/C,C/C,T/T,T/T,C/C,C/C,T/T,T/T,T/T,C/C,T/T,...,C/C,T/T,C/C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/C,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T,T/T

In [393]:
df_geno = df_geno.T

In [394]:
df_geno.columns = df_geno.iloc[0]

In [395]:
df_geno.head(2)

probeset_id,AX-94422082,AX-94598030,AX-94669331,AX-95183288,AX-94690456,AX-94966051,AX-94889872,AX-94583145,AX-94815021,AX-95142467,AX-94492529,AX-94607341,AX-95653435,AX-94936441,AX-95082131,AX-94979270,Glu-A3a,Glu-A3b,Glu-A3c,Glu-A3d,Glu-A3e,Glu-A3f,Glu-A3g,Glu-A3h,AX-95139456,...,AX-94993140,AX-94401482,AX-94508292,AX-94729924,AX-94621492,AX-95250716,AX-95652836,AX-94927175,AX-94684001,AX-95186177,AX-94616800,AX-94413894,AX-94696367,AX-94443065,AX-94504972,AX-94420021,AX-95152265,AX-94653866,AX-94686518,AX-94992026,AX-95070024,AX-94962302,AX-94649230,AX-95247409,AX-95210726
probeset_id,AX-94422082,AX-94598030,AX-94669331,AX-95183288,AX-94690456,AX-94966051,AX-94889872,AX-94583145,AX-94815021,AX-95142467,AX-94492529,AX-94607341,AX-95653435,AX-94936441,AX-95082131,AX-94979270,Glu-A3a,Glu-A3b,Glu-A3c,Glu-A3d,Glu-A3e,Glu-A3f,Glu-A3g,Glu-A3h,AX-95139456,...,AX-94993140,AX-94401482,AX-94508292,AX-94729924,AX-94621492,AX-95250716,AX-95652836,AX-94927175,AX-94684001,AX-95186177,AX-94616800,AX-94413894,AX-94696367,AX-94443065,AX-94504972,AX-94420021,AX-95152265,AX-94653866,AX-94686518,AX-94992026,AX-95070024,AX-94962302,AX-94649230,AX-95247409,AX-95210726
55 CL 2,G/G,G/G,T/T,G/G,A/A,T/T,T/T,G/G,T/T,C/C,A/A,A/A,G/G,C/C,A/A,G/G,T/T,T/T,T/T,T/T,T/T,A/A,T/T,T/T,G/G,...,C/C,C/C,A/A,A/A,C/C,T/T,-,G/G,A/A,T/T,G/G,G/G,G/G,C/C,T/T,T/T,A/A,T/T,G/G,C/C,G/G,G/G,G/G,T/T,C/C

In [396]:
df_geno = df_geno.iloc[1:]

In [397]:
taxa = df_geno.index

In [398]:
df_geno.head(2)

probeset_id,AX-94422082,AX-94598030,AX-94669331,AX-95183288,AX-94690456,AX-94966051,AX-94889872,AX-94583145,AX-94815021,AX-95142467,AX-94492529,AX-94607341,AX-95653435,AX-94936441,AX-95082131,AX-94979270,Glu-A3a,Glu-A3b,Glu-A3c,Glu-A3d,Glu-A3e,Glu-A3f,Glu-A3g,Glu-A3h,AX-95139456,...,AX-94993140,AX-94401482,AX-94508292,AX-94729924,AX-94621492,AX-95250716,AX-95652836,AX-94927175,AX-94684001,AX-95186177,AX-94616800,AX-94413894,AX-94696367,AX-94443065,AX-94504972,AX-94420021,AX-95152265,AX-94653866,AX-94686518,AX-94992026,AX-95070024,AX-94962302,AX-94649230,AX-95247409,AX-95210726
55 CL 2,G/G,G/G,T/T,G/G,A/A,T/T,T/T,G/G,T/T,C/C,A/A,A/A,G/G,C/C,A/A,G/G,T/T,T/T,T/T,T/T,T/T,A/A,T/T,T/T,G/G,...,C/C,C/C,A/A,A/A,C/C,T/T,-,G/G,A/A,T/T,G/G,G/G,G/G,C/C,T/T,T/T,A/A,T/T,G/G,C/C,G/G,G/G,G/G,T/T,C/C
ACA 201,G/G,G/G,T/T,G/G,A/A,T/T,T/T,G/G,T/T,T/T,A/A,A/A,G/G,C/C,A/A,G/G,T/T,T/T,T/T,T/T,T/T,A/A,T/T,T/T,G/G,...,T/T,T/T,A/A,G/G,T/T,C/C,A/A,T/T,G/G,C/C,A/A,G/G,G/G,C/C,T/T,T/T,A/A,T/T,A/A,G/G,A/A,A/A,G/G,T/T,C/C

In [399]:
df_geno = df_geno.apply(lambda x: pd.factorize(x)[0])

In [400]:
df_geno.head(2)

probeset_id,AX-94422082,AX-94598030,AX-94669331,AX-95183288,AX-94690456,AX-94966051,AX-94889872,AX-94583145,AX-94815021,AX-95142467,AX-94492529,AX-94607341,AX-95653435,AX-94936441,AX-95082131,AX-94979270,Glu-A3a,Glu-A3b,Glu-A3c,Glu-A3d,Glu-A3e,Glu-A3f,Glu-A3g,Glu-A3h,AX-95139456,...,AX-94993140,AX-94401482,AX-94508292,AX-94729924,AX-94621492,AX-95250716,AX-95652836,AX-94927175,AX-94684001,AX-95186177,AX-94616800,AX-94413894,AX-94696367,AX-94443065,AX-94504972,AX-94420021,AX-95152265,AX-94653866,AX-94686518,AX-94992026,AX-95070024,AX-94962302,AX-94649230,AX-95247409,AX-95210726
55 CL 2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ACA 201,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,1,1,0,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,1,1,1,1,0,0,0

In [401]:
#df_geno = df_geno.replace(3,0)
#df_geno = df_geno.replace(2,0)

In [402]:
df_pheno = pd.read_csv(path_pheno)
print(len(df_pheno.index))
df_pheno.drop(remove_fields,axis=1, inplace=True)
df_pheno.drop(['Rep'],axis=1, inplace=True)
print(len(df_pheno.index))
df_pheno = df_pheno[df_pheno[Y] != '-']
print(len(df_pheno.index))
df_pheno = df_pheno.dropna()
print(len(df_pheno.index))
df_pheno[Y] = df_pheno[Y].astype(float)
df_pheno.head(2)

2040
2040
2040
1831

        Taxa Ambiente  Year     FE
102  55 CL 2     MsJz  2012  58.79
103  ACA 201     MsJz  2012  54.01

In [403]:
df_pheno[df_pheno.Taxa == '55 CL 2'].head(2)

        Taxa Ambiente  Year     FE
102  55 CL 2     MsJz  2012  58.79
204  55 CL 2     MsJz  2012  53.73

In [381]:
df_pheno[df_pheno.Taxa == '55 CL 2'].head(2).mean()

Year    2012.00
FE        56.26
dtype: float64

In [382]:
#df_pheno = df_pheno.groupby(['Taxa','Ambiente']).mean().reset_index()

In [383]:
df_pheno.head(2)

        Taxa Ambiente  Year     FE
102  55 CL 2     MsJz  2012  58.79
103  ACA 201     MsJz  2012  54.01

In [405]:
df_geno['Taxa'] = taxa

In [407]:
df = pd.merge(df_geno, df_pheno[['Taxa','Ambiente',Y]], on='Taxa')
print(len(df.index))
df.head(4)

1831

,AX-94422082,AX-94598030,AX-94669331,AX-95183288,AX-94690456,AX-94966051,AX-94889872,AX-94583145,AX-94815021,AX-95142467,AX-94492529,AX-94607341,AX-95653435,AX-94936441,AX-95082131,AX-94979270,Glu-A3a,Glu-A3b,Glu-A3c,Glu-A3d,Glu-A3e,Glu-A3f,Glu-A3g,Glu-A3h,AX-95139456,...,AX-94729924,AX-94621492,AX-95250716,AX-95652836,AX-94927175,AX-94684001,AX-95186177,AX-94616800,AX-94413894,AX-94696367,AX-94443065,AX-94504972,AX-94420021,AX-95152265,AX-94653866,AX-94686518,AX-94992026,AX-95070024,AX-94962302,AX-94649230,AX-95247409,AX-95210726,Taxa,Ambiente,FE
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,55 CL 2,MsJz,58.79
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,55 CL 2,MsJz,53.73
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,55 CL 2,MsJz,59.24
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,55 CL 2,MsJz,48.90

In [408]:
df.shape

(1831, 8028)

In [409]:
#df['City'] = df.Ambiente.str.split("_").str[0]
#df['Year'] = df.Ambiente.str.split("_").str[1]
df['City'] = df.Ambiente

In [410]:
df.drop(columns={'Ambiente'}, inplace=True)

In [411]:
#df.head(2)

In [412]:
#df[df['Year'].isnull()]

In [413]:
#df['Year'].unique()

In [414]:
df[df.index == 21]

,AX-94422082,AX-94598030,AX-94669331,AX-95183288,AX-94690456,AX-94966051,AX-94889872,AX-94583145,AX-94815021,AX-95142467,AX-94492529,AX-94607341,AX-95653435,AX-94936441,AX-95082131,AX-94979270,Glu-A3a,Glu-A3b,Glu-A3c,Glu-A3d,Glu-A3e,Glu-A3f,Glu-A3g,Glu-A3h,AX-95139456,...,AX-94729924,AX-94621492,AX-95250716,AX-95652836,AX-94927175,AX-94684001,AX-95186177,AX-94616800,AX-94413894,AX-94696367,AX-94443065,AX-94504972,AX-94420021,AX-95152265,AX-94653866,AX-94686518,AX-94992026,AX-95070024,AX-94962302,AX-94649230,AX-95247409,AX-95210726,Taxa,FE,City
21,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,1,1,1,1,0,0,0,ACA 201,37.96,MsJz

In [415]:
city = df.pop('City')
#year = df.pop('Year').astype(str)

In [416]:
df['Balcarce'] = (city == 'Balcarce') * 1.0
df['Azul'] = (city == 'Azul') * 1.0
df['MsJz'] = (city == 'MsJz') * 1.0

In [417]:
for year_ in range(2012, 2017):
    year_ = str(year_)
    df[year_] = (year == year_) * 1.0

In [419]:
taxa = df.pop('Taxa')

In [420]:
df = df.astype(float)

In [421]:
df.head(2)

,AX-94422082,AX-94598030,AX-94669331,AX-95183288,AX-94690456,AX-94966051,AX-94889872,AX-94583145,AX-94815021,AX-95142467,AX-94492529,AX-94607341,AX-95653435,AX-94936441,AX-95082131,AX-94979270,Glu-A3a,Glu-A3b,Glu-A3c,Glu-A3d,Glu-A3e,Glu-A3f,Glu-A3g,Glu-A3h,AX-95139456,...,AX-95186177,AX-94616800,AX-94413894,AX-94696367,AX-94443065,AX-94504972,AX-94420021,AX-95152265,AX-94653866,AX-94686518,AX-94992026,AX-95070024,AX-94962302,AX-94649230,AX-95247409,AX-95210726,FE,Balcarce,Azul,MsJz,2012,2013,2014,2015,2016
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58.79,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53.73,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [422]:
len(df.index)

1831

In [423]:
df.head(2)

,AX-94422082,AX-94598030,AX-94669331,AX-95183288,AX-94690456,AX-94966051,AX-94889872,AX-94583145,AX-94815021,AX-95142467,AX-94492529,AX-94607341,AX-95653435,AX-94936441,AX-95082131,AX-94979270,Glu-A3a,Glu-A3b,Glu-A3c,Glu-A3d,Glu-A3e,Glu-A3f,Glu-A3g,Glu-A3h,AX-95139456,...,AX-95186177,AX-94616800,AX-94413894,AX-94696367,AX-94443065,AX-94504972,AX-94420021,AX-95152265,AX-94653866,AX-94686518,AX-94992026,AX-95070024,AX-94962302,AX-94649230,AX-95247409,AX-95210726,FE,Balcarce,Azul,MsJz,2012,2013,2014,2015,2016
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58.79,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53.73,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [424]:
df['Taxa'] = taxa

In [427]:
df[['FE','Taxa']].sort_values([Y],ascending=False).head(5)

          FE                 Taxa
158   350.89              ACA 906
336   281.25  BAGUETTE PREMIUM 11
265   245.86          BAGUETTE 21
1756  185.26   PROINTA ISLA VERDE
303   184.33           BAGUETTE 9

In [428]:
df[['FE','Taxa']].sort_values([Y]).head(5)

         FE             Taxa
828    7.57     BUCK NAPOSTÁ
272   14.97      BAGUETTE 30
452   18.02     BIOINTA 1005
198   18.15      BAGUETTE 17
1327  20.04  KLEIN GLADIADOR

In [429]:
df_less = df[df['Taxa'] == 'KLEIN GLADIADOR']
df_less.pop('Taxa')
df_less.to_csv('data/prepared_less.csv', sep='\t', index=None)

In [430]:
df_more = df[df['Taxa'] == 'PROINTA ISLA VERDE']
df_more.pop('Taxa')
df_more.to_csv('data/prepared_more.csv', sep='\t', index=None)

In [431]:
df = df[(df['Taxa'] != 'KLEIN GLADIADOR') & (df['Taxa'] != 'PROINTA ISLA VERDEa') ]
taxa = df.pop('Taxa')
df.to_csv('data/prepared.csv', sep='\t', index=None)

In [ ]:
#sns.pairplot(df[["Balcarce",'Azul','MsJz','2013','2014', "FE"]], diag_kind="kde")
#plt.show()

In [ ]:
train_dataset = df.sample(frac=0.8,random_state=0)
test_dataset = df.drop(train_dataset.index)

In [ ]:
train_stats = train_dataset.describe()
train_stats.pop("FE")
train_stats = train_stats.transpose()
train_stats

In [ ]:
train_labels = train_dataset.pop('FE')
test_labels = test_dataset.pop('FE')

In [ ]:
def norm(x):
    return (x - train_stats['mean']) / train_stats['std']
normed_train_data = norm(train_dataset)
normed_test_data = norm(test_dataset)

In [ ]:
def build_model():
    model = keras.Sequential([
        layers.Dense(64, activation=tf.nn.relu, input_shape=[len(train_dataset.keys())]),
        layers.Dense(64, activation=tf.nn.relu),
        layers.Dense(1)
      ])

    optimizer = tf.keras.optimizers.RMSprop(0.001)

    model.compile(loss='mean_squared_error',
        optimizer=optimizer,
        metrics=['mean_absolute_error', 'mean_squared_error'])
    return model

In [ ]:
model = build_model()

In [ ]:
model.summary()

In [ ]:
example_batch = normed_train_data[:10]
example_result = model.predict(example_batch)
example_result

In [ ]:
# Display training progress by printing a single dot for each completed epoch
class PrintDot(keras.callbacks.Callback):
    def on_epoch_end(self, epoch, logs):
        if epoch % 100 == 0: print('')
        print('.', end='')

EPOCHS = 600

history = model.fit(
  normed_train_data, train_labels,
  epochs=EPOCHS, validation_split = 0.2, verbose=0,
  callbacks=[PrintDot()])

In [ ]:
hist = pd.DataFrame(history.history)
hist['epoch'] = history.epoch
hist.tail()

In [ ]:
def plot_history(history):
    hist = pd.DataFrame(history.history)
    hist['epoch'] = history.epoch

    plt.figure()
    plt.xlabel('Epoch')
    plt.ylabel('Mean Abs Error [MPG]')
    plt.plot(hist['epoch'], hist['mean_absolute_error'],
           label='Train Error')
    plt.plot(hist['epoch'], hist['val_mean_absolute_error'],
           label = 'Val Error')
    plt.ylim([0,30])
    plt.legend()

    plt.figure()
    plt.xlabel('Epoch')
    plt.ylabel('Mean Square Error [$MPG^2$]')
    plt.plot(hist['epoch'], hist['mean_squared_error'],
           label='Train Error')
    plt.plot(hist['epoch'], hist['val_mean_squared_error'],
           label = 'Val Error')
    plt.ylim([0,550])
    plt.legend()
    plt.show()


plot_history(history)

In [ ]:
model = build_model()

# The patience parameter is the amount of epochs to check for improvement
early_stop = keras.callbacks.EarlyStopping(monitor='val_loss', patience=20)

history = model.fit(normed_train_data, train_labels, epochs=EPOCHS,
                    validation_split = 0.2, verbose=0, callbacks=[early_stop, PrintDot()])

plot_history(history)

In [ ]:
loss, mae, mse = model.evaluate(normed_test_data, test_labels, verbose=0)

print("Testing set Mean Abs Error: {:5.2f} MPG".format(mae))

In [ ]:
test_predictions = model.predict(normed_test_data).flatten()

plt.scatter(test_labels, test_predictions)
plt.xlabel('True Values [MPG]')
plt.ylabel('Predictions [MPG]')
plt.axis('equal')
plt.axis('square')
plt.xlim([0,plt.xlim()[1]])
plt.ylim([0,plt.ylim()[1]])
_ = plt.plot([-100, 100], [-100, 100])

In [ ]:
error = test_predictions - test_labels
plt.hist(error, bins = 25)
plt.xlabel("Prediction Error [MPG]")
_ = plt.ylabel("Count")